/* -------------------POPULAR CARS --------------*/

.popular-header {
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  font-family: "Jakarta-S";

  & p:hover {
    cursor: pointer;
    color: var(--light-blue);
  }
}

.popular-cars-gallery {
  margin-top: 20px;

  .car-card {
    padding: 24px;
    border-radius: var(--radius-card);
    background-color: #fff;
    width: 304px;
    display: flex;
    flex-direction: column;

    .car-model {
      padding-bottom: 4px;
      font-size: var(--secondary-headings);
      color: var(--main-text-color);
      font-family: "jakarta-B";
      position: relative;

      .fav-icon {
        position: absolute;
        right: 0;
      }
      .fav-icon:hover {
        cursor: pointer;
        fill: #555;
      }
    }

    .car-type {
      font-size: var(--sub-text);
      color: var(--sub-text-color);
    }

    .car-img {
      width: 232px;
      height: 72px;

      display: flex;
      align-self: center;
      margin: 64px 32px;
    }

    .car-details {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      .details-item {
        display: flex;
        gap: 4px;
        & p {
          font-size: var(--sub-text);
          color: var(--sub-text-color);
          font-family: "Jakarta-M";
        }
      }
    }

    .price-and-rent {
      padding-top: 24px;
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;
      color: var(--sub-text-color);
      position: relative;

      .price {
        font-family: "Jakarta-B";
        color: var(--main-text-color);
      }

      .old-price {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(30%, 100%);
        font-size: var(--sub-text);
        color: var(--sub-text-color);
        font-family: "Jakarta-B";
        text-decoration: line-through;
      }
    }
  }
}

/* -------------------RECOMMENDED CARS --------------*/

.cars-gallery {
  margin-top: 20px;

  .car-card {
    padding: 24px;
    border-radius: var(--radius-card);
    background-color: #fff;
    width: 304px;
    display: flex;
    flex-direction: column;

    .car-model {
      padding-bottom: 4px;
      font-size: var(--secondary-headings);
      color: var(--main-text-color);
      font-family: "jakarta-B";
      position: relative;

      .fav-icon {
        position: absolute;
        right: 0;
      }
      .fav-icon:hover {
        cursor: pointer;
        fill: #555;
      }
    }

    .car-type {
      font-size: var(--sub-text);
      color: var(--sub-text-color);
    }

    .car-img {
      width: 224px;
      height: 100px;

      display: flex;
      align-self: center;
      margin: 64px 32px;
    }

    .car-details {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      .details-item {
        display: flex;
        gap: 4px;
        & p {
          font-size: var(--sub-text);
          color: var(--sub-text-color);
          font-family: "Jakarta-M";
        }
      }
    }

    .price-and-rent {
      padding-top: 24px;
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;

      position: relative;
      color: var(--sub-text-color);
      position: relative;

      .price {
        font-family: "Jakarta-B";
        color: var(--main-text-color);
      }

      .old-price {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(30%, 100%);
        font-size: var(--sub-text);
        color: var(--sub-text-color);
        font-family: "Jakarta-B";
        text-decoration: line-through;
      }
    }
  }
}

.more-wrapper {
  display: flex;
  justify-content: end;

  & div {
    width: 734px;
    display: flex;
    justify-content: space-between;
    margin: 64px 0;

    & p {
      font-size: var(--sub-text);
      color: var(--sub-text-color);
      font-family: "Jakarta-M";
    }
  }
}
