main {
  background-color: #f6f7f9;
}

.hero-section {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;

  .hero-banner {
    position: relative;
    overflow: hidden;
    width: 640px;
    background-color: var(--light-blue);
    border-radius: var(--radius-card);

    .banner-details {
      position: relative;
      z-index: 2;
      width: 350px;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      color: var(--text-white);
      padding: 24px;

      & h1 {
      font-size: var(--primary-heading);
        font-family: "Jakarta-S";
      }

      & p {
        font-family: "Jakarta-M";
      }
    }

    & img {
      display: flex;
      justify-self: center;
      padding-left: 50px;
      position: relative;
      z-index: 2;
    }

    .circle-stripe {
      position: absolute;
      top: -80px;
      left: -150px;
      width: 775px;
      height: 775px;
      border-radius: 50%;
      z-index: 0;
      pointer-events: none;

      background: repeating-radial-gradient(
        circle,
        #ffffff0f 0px,
        #ffffff0f 20px,
        transparent 20px,
        transparent 60px
      );
    }
  }

  .banner-2 {
    background-color: var(--blue);
    background-image: url(../assets/images/rectangle.png);

    & button {
      background-color: var(--light-blue);
    }
    & button:hover {
      cursor: pointer;
      background-color: #4985c5;
    }
  }
}

/* -------------FILTER--------------- */

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;

  button {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-card);
  }

  form {
    background-color: #fff;
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 48px;
    label {
      color: var(--main-text-color);
      font-family: "Jakarta-B";
    }
    & > label {
      display: flex;
      align-items: center;
      gap: 8px;

      input[type="radio"] {
        accent-color: var(--blue);
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }

    & .drop-downs-wrapper {
      display: flex;
      gap: 24px;
      & .drop-down-item-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        select {
          color: var(--sub-text-color);
          appearance: none;
        }
        input {
          width: 90%;
        }
        input::placeholder {
          color: var(--sub-text-color);
        }

        img {
          width: 14px;
          height: 14px;
        }
        img:hover {
          cursor: pointer;
        }
      }

      .dropdown-item {
        width: 124px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
