main {
  background-color: #f6f7f9;
}

.hero-section {
  display: flex;
  gap: 32px;
  justify-content: center;

  .hero-banner {
    position: relative;
    overflow: hidden;
    width: 640px;
    background-color: var(--light-blue);
    border-radius: var(--radius-card);

    .banner-details {
      position: relative;
      z-index: 2;
      width: 350px;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      color: var(--text-white);
      padding: 24px;

      & h1 {
        font-family: "Jakarta-S";
      }

      & p {
        font-family: "Jakarta-M";
      }
    }

    & img {
      display: flex;
      justify-self: center;
      padding-left: 50px;
      position: relative;
      z-index: 2;
    }

    .circle-stripe {
      position: absolute;
      top: -80px;
      left: -150px;
      width: 775px;
      height: 775px;
      border-radius: 50%;
      z-index: 0;
      pointer-events: none;

      background: repeating-radial-gradient(
        circle,
        #ffffff0f 0px,
        #ffffff0f 20px,
        transparent 20px,
        transparent 60px
      );
    }
  }

  .banner-2 {
    background-color: var(--blue);
    background-image: url(../assets/images/rectangle.png);

    & button {
      background-color: var(--light-blue);
    }
    & button:hover {
      cursor: pointer;
      background-color: #4985c5;
    }
  }
}

/* -------------FILTER--------------- */

.filter-section {
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;

  & button {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-card);
  }

  .filter-card {
    background-color: #fff;
    box-shadow: 5px 5px #00000004;
    border-radius: var(--radius-card);
    padding: 24px 48px;

    .radio {
      display: flex;
      gap: 8px;
      align-items: center;

      label {
        font-family: "Jakarta-S";
      }

      input[type="radio"] {
        accent-color: var(--blue);
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }

    & p {
      color: var(--sub-text-color);
      font-size: var(--sub-text-small);
    }
    .filter-group {
      display: flex;
      gap: 24px;
      padding-top: 16px;

      .filter-item {
        .item-title {
          font-family: "Jakarta-B";
          color: var(--main-text-color);
          padding-bottom: 8px;
          font-size: 16px;
        }
        .option {
          display: flex;
          align-items: center;
          & img {
            padding-left: 15px;
          }
          & img:hover {
            cursor: pointer;
            filter: hue-rotate(140deg);
          }
        }
      }
    }
  }
}
