
@media (max-width:1580px){
     .grid {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 32px 24px;
  }

  .filter-section {
    flex-direction: column;
    gap: 15px;
  }

  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    place-items: center;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .more-wrapper {
    & div {
      width: 500px;
    }
  }
}

